/* 반응형조건 responsive */
/* m (320~)-> t(1024~) -> d(1250~) */
@media screen and (min-width:1024px) {
    #wrap .intro {
        padding: 410px 0 100px;
        gap: 100px;
    }
    #wrap .intro .logo {
        width: 32px;
        top: 30px; left: 36px;
    }
    #wrap .intro h1 span {
        font-size: 3.13rem;
    }
    #wrap .container .sponsor_btn {
        width: 238px; height: 60px;
    }
    #wrap .container .sponsor_btn::after {
        font-size: 1rem;
    }
    #wrap .container .sponsor_btn em {
        font-size: 1.38rem;
    }
}/* 1024~ */
@media screen and (min-width:1250px) {
    #wrap .intro {
        padding: 447px 0 100px;
    }
    #wrap .intro .logo {
        width: 42px;
        top: 53px; left: 61px;
    }
    #wrap .intro h1 span {
        font-size: 4.38rem;
    }
    #wrap .intro h1 span:nth-child(1) {
        font-weight: 300;
    }
    #wrap .container .sponsor_btn {
        width: 409px; height: 71px;
    }
    #wrap .container .sponsor_btn::after {
        font-size: 1.38rem;
    }
    #wrap .container .sponsor_btn em {
        font-size: 2rem;
    }
}/* 1250~ */ 